## Unit 1, Milestone 2 Hypotheses

## Variables are containers, or variables are labels?

### **int**

In [16]:
int1 = 1
int2 = int1
int2 = 2
print(int1, int2)

1 2

In [20]:
print(f"Value of int1: {int1}, ID of int1: {id(int1)}")
print(f"Value of int2: {int2}, ID of int2: {id(int2)}")

Value of int1: 1, ID of int1: 140728811701032
Value of int2: 2, ID of int2: 140728811701064

Variable name points to integer object - it's a label. Reassigning a name links it to a new object.

## **float**

In [2]:
ft1 = 1.0
ft2 = ft1
ft2 = 2.0
print(ft1, ft2)

1.0 2.0

In [21]:
print(f"Value of ft1: {ft1}, ID of ft1: {id(ft1)}")
print(f"Value of ft2: {ft2}, ID of ft2: {id(ft2)}")

Value of ft1: 1.0, ID of ft1: 2640734958704
Value of ft2: 2.0, ID of ft2: 2640736278512

Float behaviour same as integer behaviour - variable is a label

## **string**

In [3]:
st1 = "astring"
st2 = st1
st2 = "bstring"
print(st1, st2)

astring bstring

In [22]:
print(f"Value of st1: {st1}, ID of st1: {id(st1)}")
print(f"Value of st2: {st2}, ID of st2: {id(st2)}")

Value of st1: astring, ID of st1: 2640736457712
Value of st2: bstring, ID of st2: 2640689630704

Reassigned string-type variable points to a new object. Variable is a label

In [4]:
st1[0] = "c"

TypeError: 'str' object does not support item assignment

String is immutable, can't be changed in-place

## **list**

In [5]:
lst1 = [1, 2, 3]
lst2 = lst1
lst2 = [4, 3, 2]
print(lst1, lst2)

[1, 2, 3] [4, 3, 2]

List-type variable can be reassigned to a new object

In [6]:
lst1 = [1, 2, 3]
lst2 = lst1
lst2[0] = 4
print(lst1, lst2)

[4, 2, 3] [4, 2, 3]

In [23]:
lst1 = [1, 2, 3]
lst2 = lst1
lst2[:] = 4, 5, 6
print(lst1, lst2)

[4, 5, 6] [4, 5, 6]

In [24]:
print(f"Value of lst1: {lst1}, ID of lst1: {id(lst1)}")
print(f"Value of lst2: {lst2}, ID of lst2: {id(lst2)}")

Value of lst1: [4, 5, 6], ID of lst1: 2640750328448
Value of lst2: [4, 5, 6], ID of lst2: 2640750328448

Different names can point to the same object.  
Elements of a list can be changed in-place.

## **tuple**

In [8]:
t1 = (1, 2, 3)
t2 = t1
print(t1, t2)

(1, 2, 3) (1, 2, 3)

In [9]:
t1 = (1, 2, 3)
t2 = t1
t2 = (4, 5, 6)
print(t1, t2)

(1, 2, 3) (4, 5, 6)

In [25]:
print(f"Value of t1: {t1}, ID of t1: {id(t1)}")
print(f"Value of t2: {t2}, ID of t2: {id(t2)}")

Value of t1: (1, 2, 3), ID of t1: 2640750370176
Value of t2: (1, 2, 3), ID of t2: 2640750370176

In [10]:
t1 = (1, 2, 3)
t2 = t1
t2[0] = 4
print(t1, t2)

TypeError: 'tuple' object does not support item assignment

Tuple is immutable, cannot be changed in place

## **dict**

In [32]:
d1 = {"a": 1, "b": 2, "c": 3}
d2 = d1
print(d1, d2)

{'a': 1, 'b': 2, 'c': 3} {'a': 1, 'b': 2, 'c': 3}

In [33]:
print(f"Value of d1: {d1}, ID of d1: {id(d1)}")
print(f"Value of d2: {d2}, ID of d2: {id(d2)}")

Value of d1: {'a': 1, 'b': 2, 'c': 3}, ID of d1: 2640736606016
Value of d2: {'a': 1, 'b': 2, 'c': 3}, ID of d2: 2640736606016

Same dictionary can have multiple names - variables are labels

In [27]:
d2["a"] = 9

In [28]:
print(d1, d2)

{'a': 9, 'b': 2, 'c': 3} {'a': 9, 'b': 2, 'c': 3}

Dictionary elements can be changed in-place.

In [29]:
d2 = {"d": 4, "e": 5, "f": 6}
print(d1, d2)

{'a': 9, 'b': 2, 'c': 3} {'d': 4, 'e': 5, 'f': 6}

In [30]:
print(f"Value of d1: {d1}, ID of d1: {id(d1)}")
print(f"Value of d2: {d2}, ID of d2: {id(d2)}")

Value of d1: {'a': 9, 'b': 2, 'c': 3}, ID of d1: 2640750380864
Value of d2: {'d': 4, 'e': 5, 'f': 6}, ID of d2: 2640736421888

## **Conclusion**

- Variables are labels for objects.  
- An object can have more than one variable name.  
- A variable name can be re-assigned to a new different object.   
- If a mutable object (list, dictionary) has multiple names,  changing a member element under one name will change it for all names.