## Unit 1, Milestone 1 Variables

### **int**

In [1]:
int1 = 1
int2 = int1
int2 = 2
print(int1, int2)

1 2

Variable name points to integer object. Reassigning a name links it to a new object.

## **float**

In [2]:
ft1 = 1.0
ft2 = ft1
ft2 = 2.0
print(ft1, ft2)

1.0 2.0

Float behaviour same as integer behaviour

## **string**

In [3]:
st1 = "astring"
st2 = st1
st2 = "bstring"
print(st1, st2)

astring bstring

Reassigned string-type variable points to a new object

In [4]:
st1[0] = "c"

TypeError: 'str' object does not support item assignment

String is immutable, can't be changed in-place

## **list**

In [5]:
lst1 = [1, 2, 3]
lst2 = lst1
lst2 = [4, 3, 2]
print(lst1, lst2)

[1, 2, 3] [4, 3, 2]

List-type variable can be reassigned to a new object

In [6]:
lst1 = [1, 2, 3]
lst2 = lst1
lst2[0] = 4
print(lst1, lst2)

[4, 2, 3] [4, 2, 3]

In [7]:
lst1 = [1, 2, 3]
lst2 = lst1
lst2[:] = 4, 5, 6
print(lst1, lst2)

[4, 5, 6] [4, 5, 6]

Different names can point to the same object.  
Elements of a list can be changed in-place.

## **tuple**

In [8]:
t1 = (1, 2, 3)
t2 = t1
print(t1, t2)

(1, 2, 3) (1, 2, 3)

In [9]:
t1 = (1, 2, 3)
t2 = t1
t2 = (4, 5, 6)
print(t1, t2)

(1, 2, 3) (4, 5, 6)

In [10]:
t1 = (1, 2, 3)
t2 = t1
t2[0] = 4
print(t1, t2)

TypeError: 'tuple' object does not support item assignment

Tuple is immutable, cannot be changed in place

## **dict**

In [11]:
d1 = {"a": 1, "b": 2, "c": 3}
d2 = d1
print(d1, d2)

{'a': 1, 'b': 2, 'c': 3} {'a': 1, 'b': 2, 'c': 3}

In [12]:
d2["a"] = 9

In [13]:
print(d1, d2)

{'a': 9, 'b': 2, 'c': 3} {'a': 9, 'b': 2, 'c': 3}

In [14]:
d2 = {"d": 4, "e": 5, "f": 6}
print(d1, d2)

{'a': 9, 'b': 2, 'c': 3} {'d': 4, 'e': 5, 'f': 6}

Dictionary elements can be changed in-place. Same dictionary can have multiple names.